@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Honk&family=Montserrat:wght@800&family=Noto+Sans:wght@900&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');




.container-facebook{
    position: absolute;
    width: 1100px;
    height: 500px;
    border: 1px solid hidden;
    background-color: rgb(241, 232, 232);
}


#Facebook-logotext{
    position: absolute;
    top: 25%;
      width: 25%;
      left: 35px;
}

p{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    left: 30px;
    font-style: normal;
    top: 40%;
}

.containerInputs-Facebook{
   width: 30%;
   top: 10%;
   height: 65%;
   border: 1px solid rgb(225, 212, 212);
   position: absolute;
   left: 50%;
   border-radius: 8px;
   background-color: #fff8f8;
   box-shadow: 2px 0px 5px rgb(198, 185, 185);
}

#Input-passowrd-Facebook{
    height: 40px;
    border: 1px solid rgb(234, 238, 241);
    position: absolute;
    top: 20%;
    left: 15%;
    width: 60%;
}

#Email-input-facebook{
    position: absolute;
    height: 40px;
    border: 1px solid rgb(234, 238, 241);
    top:  40%;
    left: 15%;
    width: 60%;
}

#paragrapic-input{
  position: absolute;
  top: 5%;
  left: 18%;
}

#Buttom-submit-input-facebook{
    position: absolute;
    width: 200px;
    right: 20%;
    top: 60%;
    height: 32px;
    background-color:#1877f2;
    border-radius: 5px;
    color: #ffff;
    font-size: 15px;
    box-shadow: 2px 2px 2px #e3d9d9;
     
}