@import url('https://fonts.googleapis.com/css2?family=Bahianita&family=Honk&family=Montserrat:wght@800&family=Noto+Sans:wght@900&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');



#Facebook-logotext{
    position: absolute;
      width: 15%;
}

p{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    top: 10%;
}

.containerInputs-Facebook{
   width: 30%;
   height: 40%;
   border: 1px solid;
   position: absolute;
   left: 50%;
   border-radius: 20px;
   background-color: rgb(233, 228, 220);
}

#Input-passowrd-Facebook{
    height: 30px;
    position: absolute;
    top: 10%;
    left: 15%;
    border-radius: 5px;
}